<table class="table">
  <tr>
    <td>
      <table class="table">
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Number available</th>
        </tr>
        <tr *ngFor="let book of books" (click)="selectBook(book)">
          <td>{{book.title}}</td>
          <td>{{book.author}}</td>
          <td>{{book.availableCopies}}</td>
        </tr>
      </table>
    </td>
    <td><app-details [book]="selectedBook" (bookUpdate)="onBookUpdate($event)"></app-details></td>
  </tr>
</table>
